html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {font-family: Delicious; src: url("fonts/Delicious-Roman.otf")}
@font-face {font-family: Delicious; font-style: italic; src: url("fonts/Delicious-BoldItalic.otf")}
@font-face {font-family: Delicious; font-weight: bold; src: url("fonts/Delicious-Bold.otf")}
@font-face {font-family: Delicious; font-weight: heavy; src: url("fonts/Delicious-Heavy.otf")}
@font-face {font-family: Fontin; src: url("fonts/Fontin-Regular.otf")}
@font-face {font-family: Fontin; font-style: italic; src: url("fonts/Fontin-Italic.otf")}
@font-face {font-family: Fontin; font-weight: bold; src: url("fonts/Fontin-Bold.otf")}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.step {

  font-family: Fontin;

  width: 1000px;
  text-align: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;

  h1 {font-size: 64px; font-style: bold;}
  h2 {font-size: 48px;}
  h3 {font-size: 36px;}

}

.step:not(.active) {
    opacity: 0.3;
}

